.wrapper
  .main-content
    .main-content__header
      =render "contents/main__header"
    
    .main-content__center
      .main-content__center__left
        %audio{id:"audio"}
          %source{ src:"/assets/情熱大陸 OP.mp3"}
        .main-content__center__left__name
          トーマス.エジソン
        .main-content__center__left__work
          発明家・起業家
      .main-content__center__image
        =link_to image_tag("https://kohkira.com/wp-content/uploads/2017/01/thomas-alva-edison-67763_640-1.jpg", width:"450", height:"300", id:"image"),"https://matome.naver.jp/odai/2147903059338929601"
        .text
          ☝︎名言集は画像をClick!!

    .footer
      .footer__message
        失敗ではなく、ただ1万通りの上手くいかない方法を見つけただけだ。

  =render "contents/side"
