.main-content
  .main-content__header
    .main-content__header__guest
      今回のゲスト
    .LikesIcon
      %i.far.fa-star.LikesIcon-fa-star
        いいね!!
  
  .main-content__center
    .main-content__center__left
      %audio{id:"audio"}
        %source{ src:"/assets/情熱大陸 OP.mp3"}
      .main-content__center__left__name
        本田 圭佑
      .main-content__center__left__work
        サッカー選手
    .main-content__center__image
      =link_to image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcToOkcVz7XQUtsReRS_0JO38fmF6f7PSm69si1QN_FgwyBJjG-l", width:"500", height:"400", id:"image"),"https://matome.naver.jp/odai/2133950543504842601"
      .text
        ☝︎名言集は画像をClick!!

  .footer
    .footer__message
      「成功」に捉われるな、『成長』に捉われろ!!
