.main-content
  .main-content__header
    .main-content__header__guest
      今回のゲスト
    .LikesIcon
      %i.far.fa-star.LikesIcon-fa-star
        いいね!!

  .main-content__center
    .main-content__center__left
      = audio_tag "情熱大陸 OP.mp3",id:"audio"
      .main-content__center__left__name
        イチロー
      .main-content__center__left__work
        野球選手
    .main-content__center__image
      =link_to image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQC9kNFHMKzVJh2M0Gfhh0sau1UdqE8EpjZmiFwM47qQm-69XaR", width:"500", height:"400", id:"image"),"https://matome.naver.jp/odai/2133414522447477501"
      .text
        ☝︎名言集は画像をClick!!

  .footer
    .footer__message
      小さな事の積み重ねがとんでもない所に行くただ一つの道。

=render "side"