.wrapper
  .main-content
    .main-content__header
      =render "contents/main__header"
    
    .main-content__center
      .main-content__center__left
        = audio_tag "情熱大陸 OP.mp3",id:"audio"
        .main-content__center__left__name
          ﾏｲｹﾙ・ｼﾞｮｰﾀﾞﾝ
        .main-content__center__left__work
          NBAプレイヤー
      .main-content__center__image
        =link_to image_tag("https://meigen.club/wp-content/uploads/thumb_michael_jordan-11.jpg", width:"500", height:"350", id:"image"),"https://matome.naver.jp/odai/2131616827716144501"
        .text
          ☝︎名言集は画像をClick!!

    .footer
      .footer__message
        人生で何度も何度も失敗してきた。だから私は成功したんだ。

  =render "contents/side"