.wrapper
  .main-content
    .main-content__header
      =render "contents/main__header"
    
    .main-content__center
      .main-content__center__left
        %audio{id:"audio"}
          %source{ src:"/assets/情熱大陸 OP.mp3"}
        .main-content__center__left__name
          為末 大
        .main-content__center__left__work
          陸上競技選手
      .main-content__center__image
        =link_to image_tag("https://www.jaaf.or.jp/fan/player/img/men003/2.jpg", width:"450", height:"300", id:"image"),"https://matome.naver.jp/odai/2138301762934294201"
        .text
          ☝︎名言集は画像をClick!!

    .footer
      .footer__message
        知りたくなかった自分を知り、認めたくない自分を認めるのが自分探し。

  =render "contents/side"

