.wrapper
  .main-content
    .main-content__header
      =render "contents/main__header"
    
    .main-content__center
      .main-content__center__left
        %audio{id:"audio"}
          %source{ src:"/assets/情熱大陸 OP.mp3"}
        .main-content__center__left__name
          ダーウィン
        .main-content__center__left__work
          自然科学者
      .main-content__center__image
        =link_to image_tag("http://shiodome.co.jp/ceo/wp-content/uploads/2017/10/dw.jpg", width:"450", height:"300", id:"image"),"https://matome.naver.jp/odai/2150449247025493501"
        .text
          ☝︎名言集は画像をClick!!

    .footer
      .footer__message
        生き残る者とは、強く賢い者ではなく、最も変化に対応した者である。

  =render "contents/side"
