.wrapper
  .main-content
    .main-content__header
      =render "contents/main__header"
    
    .main-content__center
      .main-content__center__left
        = audio_tag "情熱大陸 OP.mp3",id:"audio"
        .main-content__center__left__name
          堀江 貴文
        .main-content__center__left__work
          タレント・実業家
      .main-content__center__image
        =link_to image_tag("https://tk.ismcdn.jp/mwimgs/e/8/1140/img_e84ffe34a874bb2776a07741bae18a21379593.jpg", width:"500", height:"350", id:"image"),"https://matome.naver.jp/odai/2147484903361079301"
        .text
          ☝︎名言集は画像をClick!!

    .footer
      .footer__message
        未来を恐れず、過去に執着せず、「今を生きろ!!」

  =render "contents/side"
