.wrapper
  .main-content
    .main-content__header
      =render "contents/main__header"
    
    .main-content__center
      .main-content__center__left
        = audio_tag "情熱大陸 OP.mp3",id:"audio"
        .main-content__center__left__name
          坂本 龍馬
        .main-content__center__left__work
          幕末の志士
      .main-content__center__image
        =link_to image_tag("https://hinotorifugetsu.com/wp-content/uploads/2018/12/ryoma-1.png", width:"500", height:"350", id:"image"),"https://matome.naver.jp/odai/2147938229367268601"
        .text
          ☝︎名言集は画像をClick!!

    .footer
      .footer__message
        おれは落胆するよりも、次の策を考えるほうの人間だ。

  =render "contents/side"