.wrapper
  .main
    .main__header
      =render "contents/main__header"
    
    .main__center
      .main__center__left
        %audio{id:"audio"}
          %source{ src:"/assets/情熱大陸 OP.mp3"}
        .main__center__left__name
          錦織 圭
        .main__center__left__work
          テニスプレイヤー
      .main__center__image
        =link_to image_tag("http://nisikorikeisdraw.com/wp-content/uploads/2017/05/01-4.jpg", width:"450", height:"300", id:"image"),"https://matome.naver.jp/odai/2153139237394476501?page=2"
        .text
          ☝︎名言集は画像をClick!!

    .footer
      .footer__message
        誰かを越す誰かに抜かれるとかではなく、自分ができる最大の努力をする

  =render "contents/side"
