.wrapper
  .main-content
    .main-content__header
      =render "contents/main__header"
    
    .main-content__center
      .main-content__center__left
        = audio_tag "情熱大陸 OP.mp3",id:"audio"
        .main-content__center__left__name
          錦織 圭
        .main-content__center__left__work
          テニスプレイヤー
      .main-content__center__image
        =link_to image_tag("http://nisikorikeisdraw.com/wp-content/uploads/2017/05/01-4.jpg", width:"500", height:"350", id:"image"),"https://matome.naver.jp/odai/2153139237394476501?page=2"
        .text
          ☝︎名言集は画像をClick!!

    .footer
      .footer__message
        誰かを越す誰かに抜かれるとかではなく、自分ができる最大の努力をする

  =render "contents/side"
