.side{
  height:100%;
  width:150px;
  background-color: white;
  position: relative;
  position: fixed;
  @media screen and (max-width: 812px) { 
  height:100%;
  width:130px;
  }
  
  &__logo{
    width: 100%;
    height: 150px;
    padding:10px 10px;
    background-color:white;
    @media screen and (max-width: 812px) { 
      &__netulogo{
      height:110px;
      width:110px;
      }
    }
  }
  
  &__center{
    height: 150px;
    text-align: center;
    line-height: 250px;
    @media screen and (max-width: 812px) { 
      text-align: center;
      position: relative;
    }
    
    #button{
      border-radius: 10px;
      padding: 20px;
      font-size:27px;
      color:white;
      background: red;
      outline: none;
      cursor: pointer;
      box-shadow: 3px 3px 4px gray;
      transition: 1s;
      @media screen and (max-width: 812px) { 
      position: absolute;
      top: 10px;
      left: 13px;
      padding: 12px;
      font-size:20px;
      }
      
      &:hover{
        color:white;
        box-shadow: none;
        transform: translate3d(0, 2px, 0);
        
      }
      
    }
  }

  &__bottom{
    position: absolute;
    bottom: 1px;
  }
  &__btn{
    padding-left:10px ;
    font-size: 20px;
    display: block;
    width :150px;
    color:white;
    text-decoration: none;
    line-height: 40px;
    border:solid 1px white;
    background-color:#BBBBBB;
    text-decoration:none;
    opacity: 0.75;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;

    &--user{
      background-color:black;
      @media screen and (max-width: 812px) { 
      width: 140px;
      }
    }

    &--top{
      background-color:green;
      @media screen and (max-width: 812px) { 
      width: 140px;
      }
    }

    &--facebook{
      background-color: #4169e1;
      @media screen and (max-width: 812px) { 
      display: none;
      }
    }

    &--twitter{
      background-color: #00bfff;
      @media screen and (max-width: 812px) { 
      display: none;
      }
    }

    &--instagram{
      background-color: #FF1493;
      @media screen and (max-width: 812px) { 
      display: none;
      }
    }

    &:hover{
      opacity: 1;
    }
  }
}